language:
  python

matrix:
  include:
    - os: linux
      dist: focal
      python: 3.7
    - os: linux
      dist: focal
      python: 3.8
    - os: linux
      dist: focal
      python: 3.9
    - os: linux
      dist: bionic
      python: 3.7
    - os: linux
      dist: bionic
      python: 3.8
    - os: linux
      dist: bionic
      python: 3.9
    - os: linux
      dist: groovy
      python: 3.7
    - os: linux
      dist: groovy
      python: 3.8
    - os: linux
      dist: groovy
      python: 3.9
    # https://travis-ci.community/t/how-to-skip-python-download-to-osx-image-and-avoid-download-unavailable-error/9554/2
    #- os: osx
    #  # Would be nice to try different python versions :(
    #  #python: 3.7
    #  osx_image: xcode10.2
    #- os: osx
    #  # Would be nice to try different python versions :(
    #  #python: 3.7
    #  osx_image: xcode12.4

before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
install:
  - pip install ".[test]" . # install package + test dependencies
script:
  - pytest
  - python examples/examples.py
after_success:
  - bash <(curl -s https://codecov.io/bash)
