# These are the packages needed to develop torchsynth
# User requirements are in setup.py
# If we want to use snyk, we need a requirements.txt file
# Otherwise we could just do this:
#   https://stackoverflow.com/a/16624700/82733
numpy
scipy
torch>=1.8
lightning
sphinx~=4.2.0  # not directly required, pinned by Snyk to avoid a vulnerability
unofficial-pt-lightning-sphinx-theme
# Temporarily disabled so we can push to pypi
# "pt-lightning-sphinx-theme @ https://github.com/PyTorchLightning/lightning_sphinx_theme/tarball/master#egg=pt-lightning-sphinx-theme",
sphinxcontrib-napoleon
sphinx-autodoc-typehints
sphinx_rtd_theme
myst_parser
linkify-it-py
mock
