# These are the packages needed to develop torchsynth
# User requirements are in setup.py
# If we want to use snyk, we need a requirements.txt file
# Otherwise we could just do this:
#   https://stackoverflow.com/a/16624700/82733
pre-commit
nbstripout==0.6.0   # Used in precommit hooks
black==22.6.0       # Used in precommit hooks
jupytext==v1.10.3   # Used in precommit hooks
numpy
scipy
torch>=1.8
lightning
# Doesn't support OrderedDict yet
#typing-extensions
pytest
pytest-cov
pytest-env
ipython
librosa
matplotlib
numba>=0.49.0 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
unofficial-pt-lightning-sphinx-theme
#git+https://github.com/PyTorchLightning/lightning_sphinx_theme
#https://github.com/PyTorchLightning/lightning_sphinx_theme/tarball/master#egg=pt-lightning-sphinx-theme
sphinxcontrib-napoleon
sphinx-autodoc-typehints
mock
sphinx_rtd_theme
myst_parser
linkify-it-py
sphinx>=3.0.4 # not directly required, pinned by Snyk to avoid a vulnerability
myst-parser
linkify-it-py
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
