{%- set external_urls = {
  'github': 'https://github.com/torchsynth/torchsynth/',
  'github_issues': 'https://github.com/torchsynth/torchsynth/issues',
  'contributing': 'https://torchsynth.rtfd.io/en/latest/contributing/contributing',
  'docs': 'https://torchsynth.rtfd.io/en/latest',
  'blog': 'https://torchsynth.rtfd.io/en/latest',
  'discuss': 'https://github.com/turian/torchsynth/discussions',
  'tutorials': 'https://torchsynth.rtfd.io/en/latest/#tutorials',
  'home': 'https://torchsynth.rtfd.io/en/latest',
  'get_started': 'https://torchsynth.readthedocs.io/en/latest/starter/introduction_guide.html',
  'features': 'https://torchsynth.rtfd.io/en/latest/',
  'resources': 'https://github.com/turian/torchsynth/discussions',
  'support': 'https://github.com/turian/torchsynth/discussions',
  'community': 'https://github.com/turian/torchsynth/discussions',
}
-%}