name: Codecov
on: [push]
jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
#        os: [ubuntu-latest, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.7'
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.7
    - name: apt-get
      run: |
        sudo apt-get install -y libsndfile-dev
    - name: pip install
      run: |
        pip install coverage
        # These are used in the examples notebook.
        pip install ipython librosa matplotlib
        pip install -e .
        # For pytests
        pip install pytest-cov
    - name: Generate coverage report
      run: |
        # Limit to coverage of source files in current directory
        coverage run -m examples.examples --source=.
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.2.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
#        directory: ./coverage/reports/
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
#        path_to_write_report: ./coverage/codecov_report.txt
        verbose: true
    - name: Generate coverage report with tests
      run: |
        pytest --cov-report=xml --cov=./src tests/
    - name: Upload pytest coverage to Codecov
      uses: codecov/codecov-action@v1.2.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        #        directory: ./coverage/reports/
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: true
        #        path_to_write_report: ./coverage/codecov_report.txt
        verbose: true
